* {
    margin: 0;
}

body {
    background-color: aliceblue;
    /* background-image: url(); */
}

#header {
    background-image: url(./images/view.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}

#header:before {
    content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: .4; 
        z-index: 0;
  }

#headerDiv {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;
    align-items: center;
    padding-top: 1em;
    z-index: 1;
    color: rgb(224, 224, 224)
}

#headerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#headerContent h1 {
    font-size: 6em;
    color:rgb(224, 224, 224);
    z-index: 1;
}

#nav {
    display: flex;
    justify-content: space-around;
    width: 30vw;
    z-index: 1;
    color: rgb(224, 224, 224)
}

#nav a {
    text-decoration: inherit;
    color: inherit;
}

#nav a:hover {
    text-decoration: underline;
}

.anchorTag {
    text-decoration: inherit;
    color: inherit;
}

#app {
    z-index: 1;
    color: white
}

.section {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 30vw
}

div p {
    margin-bottom: 1em;
    line-height: 1.2;
}

.loader {
    height: 1.1em;
    border: 1px solid black;
    margin-bottom: 0.3em;
}

#webDev {
    height: 1em;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border: 1px solid black;
    border-radius: 0 0.35em 0.35em 0;
}

#frontend {
    height: 1em;
    width: 85%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border: 1px solid black;
    border-radius: 0 0.35em 0.35em 0;
}

#backend {
    height: 1em;
    width: 75%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    border: 1px solid black;
    border-radius: 0 0.35em 0.35em 0;
}