
     <!-- ABOUT ME SECTION -->
     <section class="section" id="about">
        <div class="col-md-4" style="display: flex; justify-content: center">
            <img style="height: 30vh"src="./images/Eric.png">
        </div>
        <!-- TEXT DESCRIPTION -->
        <div class="col-md-6">
            <div style="margin-bottom: 1em">
                <h1 style="margin-bottom: 0.3em"><b>About Me.</b></h1>
                <h3>Full Stack Software Developer</h3>
            </div>
            <div>
                <p>I am <strong>Eric Taylor</strong>.</p>
                <p>
                    I am a modern, fearless, digitally-driven and globally savvy brand / business leader with over 15
                    years of experience representing two of the most exciting, influential consumer brands in the world.
                    I live for opportunities to deliver game-changing, digital and physical global marketing programs
                    that deepen consumer connections, accelerate revenue and drive brand growth.</p>
                <div>
                    <!-- SKILLS SPACE -->
                    <div class="loader">
                        <div id="webDev">
                            <p style="color:white">Software Development</p>
                            <p style="color:white; margin-right: 3%;">90%</p>
                        </div>
                    </div>
                    <div class="loader">
                        <div id="frontend">
                            <p style="color:white">Frontend Development</p>
                            <p style="color:white; margin-right: 3%;">85%</p>
                        </div>
                    </div>
                    <div class="loader">
                        <div id="backend">
                            <p style="color:white">Backend Development</p>
                            <p style="color:white; margin-right: 3%;">75%</p>
                        </div>
                    </div>


                </div>
                <div style="margin-top: 1.25em">
                    <button id="resume">Download My Resume</button>
                    <button>Contact Me</button>
                </div>
            </div>
        </div>
    </section>