<section class="background">
    <nav>
        <div class="logo">
            <a href="/"><img style="width: 20%" src="images/logos.png"></a>
        </div>
        <div class="tags">
            <a>
                <h2>Full Stack</h2>
            </a>
            <a>
                <h2>Professional</h2>
            </a>
            <a>
                <h2>Contact</h2>
            </a>
        </div>
    </nav>
    <section class="intro">
        <h1 id="name">Eric Taylor</h1>
        <i>
            <h2>Full Stack Software Engineer + UI/UX Designer</h2>
        </i>
        <h2 id="about">About Me</h2>
    </section>
</section>

<section class="body">
    <h1>Latest Projects</h1>
    <section>
        <ul class="categories">
            <li id="blog">
                {{!-- Molly's Blog --}}
                <a href="/blog">
                    <h1>Molly's Blog</h1>
                </a>
            </li>
            <li id="jeopardy">
                {{!-- Inspirational Jeopardy --}}
                <a href="/jeopardy">
                </a>
            </li>
            <li id="appa">
                {{!-- Appa's Landing --}}
                <a href="/appa">
                    <div>
                        <h1>Appa's Landing</h1>
                    </div>
                </a>
            </li>
            <li class="container">
                <div>
                    {{!-- <img src="/images/jeopardy.png" alt="Snow" style="height: 100%; width:100%;"> --}}
                    <div class="bottom-left">Bottom Left</div>
                    <div class="top-left">Top Left</div>
                    <div class="top-right">Top Right</div>
                    <div class="bottom-right">Bottom Right</div>
                    <div class="centered">Centered</div>
                </div>
            </li>
        </ul>
    </section>
    <section>
        <ul class="professional">
            <li>
                {{!-- United Way --}}
                <h1>United Way</h1>
            </li>
            <li>
                {{!-- Mojave Desert --}}
                <h1>Mojave Desert</h1>
            </li>
            <li>
                {{!-- Appa's Landing --}}
                <h1>Apollo Academy Basketball</h1>
            </li>
        </ul>
    </section>
</section>