<section class="background">
    <nav>
        <div class="logo">
            <a href="/"><img style="width: 20%" src="images/logos.png"></a>
        </div>
        <div class="tags">
            <a href="#fullStack">
                <h2>Full Stack</h2>
            </a>
            <a href="#professional">
                <h2>Professional</h2>
            </a>
            <a>
                <h2>Contact</h2>
            </a>
        </div>
    </nav>
    <section class="intro">
        <h1 id="name">Eric Taylor</h1>
        <i>
            <h2>Full Stack Software Engineer + UI/UX Designer</h2>
        </i>
        <h2 id="about">About Me</h2>
    </section>
</section>

<section class="body">
    <h1>Latest Projects</h1>
    <section>
        <ul class="categories" id="fullStack">
            {{!-- Molly's Blog --}}
            <li id="blog" style="background-image: url(/images/appa.png);">
                <div class="div1">
                    <h1>Molly's Blog</h1>
                </div>
                <div class="div2">
                    <i>
                        <h4>Food and Lifestyle Blog</h4>
                    </i>
                </div>
                <div class="div3">
                    <a href="/blog"><button>View More</button></a>
                </div>
            </li>
            {{!-- Inspirational Jeopardy --}}
            <li id="jeopardy">
                <div id="slide">
                        <div class="rightDiv1">
                            <h1>Inspirational Jeopardy</h1>
                        </div>
                        <div class="rightDiv2">
                            <i>
                                <h4>Trivia game</h4>
                            </i>
                        </div>
                        <div class="rightDiv3">
                            <a href="/jeopardy"><button>View More</button></a>
                        </div>
                </div>
            </li>
            {{!-- Appa's Landing --}}
            <li id="appa">
                <div id="slide">
                        <div class="div1">
                            <h1>Appa's Landing</h1>
                        </div>
                        <div class="div2">
                            <i>
                                <h4>2d side scrolling game</h4>
                            </i>
                        </div>
                        <div class="div3">
                        <a href="/appa"><button>View More</button></a>
                    </div>
                </div>
            </li>
        </ul>
    </section>
    <section>
        <h1>Professional Projects</h1>
        <ul class="professional" id="professional">
                {{!-- United Way --}}
            <li >
                <div id="unitedWay">
                    <h1>United Way</h1>
                </div>
            </li>
                {{!-- Mojave Desert --}}
            <li >
                <div id="mojave">
                    <h1>Mojave Desert</h1>
                </div>
            </li>
                {{!-- Apollo Academy Basketball --}}
            <li >
                <div id="apollo">
                    <h1>Apollo Academy Basketball</h1>
                </div>
            </li>
        </ul>
    </section>
</section>