<header>
    <nav>
        <div class="logo">
            <img style="width: 20%" src="images/logos.png">
        </div>
        <div class="tags">
            <a>
                <h2>Projects</h2>
            </a>
            <a>
                <h2>Experience</h2>
            </a>
            <a>
                <h2>Contact</h2>
            </a>
        </div>
    </nav>
</header>

<body>
    <section class="heroGrid">
        <h1>Eric Taylor</h1>
        <i>
            <h3>Full Stack Software Engineer + UI/UX Designer</h3>
        </i>
        <a href="/about">
            <h3>About Me</h3>
        </a>
    </section>

</body>