.blogBackground {
    background-color: rgba(50, 50, 50, 0.775);
    color: white;
    margin: 0 0 0 0;
    background-image: url(/images/food.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-blend-mode:soft-light;
}

.blogIntro {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8vw;
}

.cafe {
    font-size: 6em;
    text-shadow: 2px black;
}

#devRoles {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5vh;
    text-transform: uppercase;
}

#devRoles span {
    color: rgb(155, 190, 250);
    padding-right: 0.5vw
}

.project {
    height: max-content;
    text-align: center; 
    background-color: black; 
    color: white;
}

.project h1 {
    padding: 5vh 0 3vh 0;
    font-size: 5rem;
    text-transform: uppercase;
}

.project h2 {
    padding: 0 15vw 0 15vw;
    line-height: 1.5em;
}

.visitSite {
    border: 1px solid white; 
    font-size: 2rem;
    width: 25rem;
    height: min-content;
}

.branding {
    display: flex;
    height: 210vh;
    background-color: rgb(235, 235, 235);
    padding: 5vh 6vw;
}

#branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 88vw;
}

.styling {
    display: flex;
    flex-direction: column;
    width: 88vw;
    margin-top: 12vh;
    text-align: center;
}