* {
    background-color: rgb(50, 50, 50);
    color: white
}

nav {
    display: flex;
    height: min-content;
}

.logo {
    display: flex;
    width: 60%;
    padding-left: 3vw;
}

.tags {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

body {
    padding-left: 3vw
}
