.background {
    background-color: rgba(50, 50, 50, 0.775);
    color: white;
    margin: 0 0 0 0;
    background-image: url(/images/view.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-blend-mode: color-burn;
}

a {
    text-decoration: inherit;
    color: inherit
}

nav {
    display: flex;
    height: 10vh;
}

nav a:hover {
    text-decoration: underline red 3px;

}

.logo {
    display: flex;
    width: 55%;
    align-items: center;
    padding-left: 3vw
}

.tags {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.intro {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8vw;
}

#name {
    font-size: 6em;
}

#about {
    height: max-content;
    width: max-content;
    background-color: rgb(236, 73, 73);
    padding: 0.5em 1em 0.5em 1em;
    margin-top: 1em;
}

.body {
    /* height: 50vh; */
    background-color: rgb(231, 230, 230);
    padding: 3vh 0 0 0;
    text-align: center;
}

.categories {
    display: inline-block
}

.categories li {
    list-style: none;
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 75vw;
    border: solid black 3px;
    margin-top: 5em
}

/* START MOLLY BLOG */
#blog {
    position: relative;
    color: white;
}

#blog::before {
    content: "";
    background-image: url(/images/blog.png);
    position: absolute;
    filter: grayscale(20%);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.55;
}

#blog:hover {
    filter: grayscale(100%);
    transition: 1s;
    left: 0;
}

/* END MOLLY BLOG */


/* START JEOPARDY */
#jeopardy {
    position: relative;
    color: white;
}

#jeopardy::before {
    content: "";
    background-image: url(/images/jeopardy.png);
    position: absolute;
    filter: grayscale(20%);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.55;
}

#jeopardy:hover {
    filter: grayscale(100%);
    transition: 1s;
    left: 0;
}

/* END JEOPARDY */

/* START APPA'S LANDING */
#appa {
    position: relative;
    color: white;
}

#appa::before {
    content: "";
    background-image: url(/images/appa.png);
    background-size: cover;
    position: absolute;
    filter: grayscale(20%);
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.55;
}

#appa:hover {
    filter: grayscale(100%);
    transition: 1s;
    left: 0;
}

/* LEFT DIV */

.div1 {
    color: white;
    position: absolute;
    bottom: 35%;
    left: 12%;
    font-size: 60px;
    width: max-content;
    text-shadow: 2px 2px 2px black;
}

.div2 {
    color: white;
    position: absolute;
    bottom: 28%;
    left: 12%;
    font-size: 30px;
    width: max-content;
    text-shadow: 2px 2px 2px black;
}

.div3 {
    position: absolute;
    bottom: 20%;
    left: 12%;
    font-size: 20px;
    width: max-content;
}

/* END LEFT DIV */

/* START RIGHT DIV */
.rightDiv1 {
    color: white;
    position: absolute;
    bottom: 35%;
    right: 12%;
    font-size: 60px;
    width: max-content;
    text-shadow: 2px 2px 2px black;
}

.rightDiv2 {
    color: white;
    position: absolute;
    bottom: 28%;
    right: 12%;
    font-size: 30px;
    width: max-content;
    text-shadow: 2px 2px 2px black;
}

.rightDiv3 {
    position: absolute;
    bottom: 20%;
    right: 12%;
    font-size: 20px;
    width: max-content;
}

/* END RIGHT DIV */

/* END APPA'S LANDING */
.container {
    position: relative;
    color: white;
    background-image: url(/images/appa.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 25%;
    left: 20%;
}

/* PROFESSIONAL SECTION */
.professional {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.professional li {
    list-style: none;
    width: 100%;
    height: 30em;
    border: solid black 3px;
}

#unitedWay {
    position: relative;
    color: white;
    height: 80%;
    width: 100%;
    border: 1px solid black;

}

#unitedWay::before {
    content: "";
    background-image: url(/images/uwmqt.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.55; */
}

#mojave {
    position: relative;
    color: white;
    height: 80%;
    width: 100%;
    border: 1px solid black;
}

#mojave::before {
    content: "";
    background-image: url(/images/mojave.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.55; */
}

#apollo {
    position: relative;
    color: white;
    height: 80%;
    width: 100%;
    border: 1px solid black;

}

#apollo::before {
    content: "";
    background-image: url(/images/apollo.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity: 0.55; */
}

#apollo:hover, #mojave:hover, #unitedWay:hover{
    filter:sepia(0.8)
}

.proDiv {
    text-align: left;
    padding: 1vh 0 0 1vw;
}

.proDiv h1 {
    font-size: 25px
}

.proDiv h2 {
    font-size: 20px;
}

/* END PROFESSIONAL SECTION */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #appa {
        background-size: 300%;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* #appa {
        background-size: 200%;
    } */

    #appa h1 {
        font-size: 30px
    }

    #jeopardy h1 {
        font-size: 30px
    }

    #blog h1 {
        font-size: 30px
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* #appa {
        background-size: 150%;
    } */

    #blog h1 {
        font-size: 60px
    }
    
    #jeopardy h1 {
        font-size: 60px
    }
    
    #appa h1 {
        font-size: 60px
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}