.background {
    background-color: rgb(50, 50, 50);
    color: white;
    margin: 0 0 0 0;
    background-image: url(/images/view.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-blend-mode:color-burn;
}

nav {
    display: flex;
    height: 10vh;
}

nav a:hover {
    text-decoration: underline red 3px;

}

.logo {
    display: flex;
    width: 55%;
    align-items: center;
    padding-left: 3vw
}

.tags {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.intro {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8vw;
}

#name {
    font-size: 6em;
}

#about {
    height: max-content;
    width: max-content;
    background-color: rgb(236, 73, 73);
    padding: 0.5em;
    margin-top: 1em;
}

.body {
    /* height: 50vh; */
    background-color: rgb(231, 230, 230);
    padding: 3vh 0 0 0;
    text-align: center;
}

.categories {
    display: inline-block
}

.categories li {
    list-style: none;
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 60vw;
    border: solid black 3px;
    margin-top: 5em
}

.professional {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.professional li {
    list-style: none;
    width: 100%;
    height: 25vh;
    border: solid black 3px;
}

#jeopardy {
    background-image: url(/images/jeopardy.png);
    opacity: 0.75;
    filter: grayscale(60%);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    color: white;

}

#appa {
    background-image: url(/images/appa.png);
    background-position: center;
    /* opacity: 0.75; */
    filter: grayscale(80%);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#appa:hover {
    filter: grayscale(0%);
}

#appa div {
    color: white;
    position: absolute;
    bottom: 18%;
    left: 12%;
    font-size: 50px;
    text-shadow: 1px 1px 2px black;
}

.container {
    position: relative;
    color: white;
    background-image: url(/images/appa.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 25%;
    left: 20%;
  }