footer {
    background-color: rgb(50, 50, 50);
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    height: 15em;
    padding-top: 3vh
  }

.footerList {
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    list-style: none;
}