footer {
    background-color: rgb(43, 43, 43);
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 12em; */
    height: 12em;
    padding-top: 3vh
  }

.footerList {
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}